VehiclesClient/VehiclesClient/Service References/VehicleReference/services.gcal.ac.uk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.gcal.ac.uk" elementFormDefault="qualified" targetNamespace="http://services.gcal.ac.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VehiclesServer" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getStudentId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStudentIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListingsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListingsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getListingsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllListings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllListingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VehiclesServer" minOccurs="0" name="getAllListingsResult" nillable="true" type="q1:ArrayOfVehicleListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListingsByPriceRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rangeLow" type="xs:int" />
        <xs:element minOccurs="0" name="rangeHigh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListingsByPriceRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VehiclesServer" minOccurs="0" name="getListingsByPriceRangeResult" nillable="true" type="q2:ArrayOfVehicleListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListingsByColour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListingsByColourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VehiclesServer" minOccurs="0" name="getListingsByColourResult" nillable="true" type="q3:ArrayOfVehicleListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleListingSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleListingSoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteListing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteListingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createListing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createListingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>